<div class="card">
    <div class="header">
        <h4 class="title">Editar Cartório</h4>
        <p class="category">Edite e clique em salvar</p>
    </div>

    <div class="content">
        <form th:object="${cartorio}" th:action="@{/cartorio/{id}(id=${cartorio.id})}" th:method="post">
            <div class="form-group">
                <input type="hidden" class="form-control" th:field="*{id}"/>
            </div>
            <div class="form-group">
                <label for="title">Nome</label>
                <input type="text" class="form-control" id="title" th:field="*{nome}">
            </div>
            <div class="form-group">
                <label for="author">Endereco</label>
                <input type="text" class="form-control" id="author" th:field="*{endereco}"/>
            </div>
            <div class="form-group">
                <label for="category">Certidao</label>
                <select id="category" class="form-control" th:field="*{certidoes}" multiple="multiple">
                    <option th:each="certidao : ${allCertidoes}"
                            th:text="${certidao.nome}"
                            th:value="${certidao.id}"
                            th:selected="${cartorio.certidoes.contains(certidao)}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a th:href="@{'/cartorios'}" class="btn btn-default">Cancelar</a>
        </form>

    </div>
</div>