<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a th:href="@{/cartorios}" class="simple-text">
                Gerenciador de Cartórios
            </a>
        </div>

        <ul class="nav">
            <li>
                <a th:href="@{/cartorios}">
                    <i class="ti-book"></i>
                    <p>Cartórios</p>
                </a>
            </li>
            <li>
                <a th:href="@{/cartorio/create}">
                    <i class="ti-plus"></i>
                    <p>Adicionar Cartório</p>
                </a>
            </li>
            <li>
                <a th:href="@{/certidoes}">
                    <i class="ti-folder"></i>
                    <p>Certidões</p>
                </a>
            </li>
            <li>
                <a th:href="@{/certidao/create}">
                    <i class="ti-plus"></i>
                    <p>Adicionar Certidão</p>
                </a>
            </li>
        </ul>
    </div>
</div>
